#mapid {
  height: auto;
  width: 100%;
}

#mobileNav {
  z-index: 1001;
}

.wrapper {
  width: 90%;
  flex-grow: 1;
  margin: auto;
}

.wrapper .main-font {
  padding: 1rem;
}

.wrapper .info h3 {
  padding: 0;
}

.info {
  display: flex;
  margin-bottom: 3rem;
}

.info > :first-child {
  padding: 0 1rem;
  width: 50%;
}

h3 {
  margin-top: 2rem;
}

h3:first-of-type {
  margin-top: 1rem;
}

@media screen and (max-width: 1024px) {
  .info > :first-child,
  #mapid {
    width: 50%;
  }
}

@media screen and (max-width: 768px) {
  .wrapper {
    min-height: unset;
  }
}

@media screen and (max-width: 500px) {
  .info {
    flex-direction: column-reverse;
  }
  #mapid {
    height: 300px;
    width: 100%;
  }
  .info > :first-child {
    width: 100%;
  }
}

@media screen and (max-width: 320px) {
  .wrapper .main-font {
    padding: 1rem 0;
  }
  .info > :first-child {
    padding: 0;
  }
}
