@font-face {
  font-family: "Heartland";
  src: url("../fonts/Heartland_Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

:root {
  --brand-pink: #d6a0bc;
  --brand-green: #7b7b6c;
  --brand-grey: #9c9d9e;
  --brand-black: #36322b;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  color: var(--brand-black);
}

.logo {
  max-width: 325px;
  padding: 1rem;
}

.header-main {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  background-color: white;
}

.header-main a {
  font-size: 1.3rem;
  color: var(--brand-green);
}

.main-font,
i {
  font-family: "Heartland", Arial, Helvetica, sans-serif;
  color: var(--brand-pink);
}

i,
footer img {
  padding: 0 0.5rem;
}

a {
  text-decoration: none;
  color: black;
  cursor: pointer;
}

a:hover {
  color: var(--brand-pink);
}

h1 {
  font-size: 2em;
}

.green {
  color: var(--brand-green);
}

h3 ~ a:hover {
  color: black;
}

nav a {
  padding: 1rem 2rem;
}

.wrapper {
  max-width: 80%;
  margin: 1rem auto;
}

.button {
  color: white;
  padding: 1rem;
  display: inline-block;
  margin: 0 1rem 5rem 1rem;
  font-size: 1.2rem;
  border-radius: 5px;
  min-width: 120px;
  border: 2px solid var(--brand-pink);
  background-color: var(--brand-pink);
  font-weight: bold;
  text-align: center;
}

.flex {
  display: flex;
}

.button:hover {
  border: 2px solid #a97a92;
  background-color: #a97a92;
  color: white;
}

footer {
  background-color: var(--brand-grey);
  display: flex;
  justify-content: space-evenly;
  padding: 1rem;
}

footer li {
  margin-right: 0.5rem;
}

.insta-logo {
  width: 16px;
  height: 16px;
}

ul {
  list-style-type: none;
  display: flex;
  justify-content: space-around;
}

ul i {
  color: var(--brand-black);
}

ul a:hover {
  color: var(--brand-black);
}

.burger.fas {
  display: none;
}

#mobileNav {
  display: block;
  pointer-events: none;
  position: absolute;
  z-index: 2;
  top: 95%;
  left: 0;
  right: 0;
  transition: height 1s ease-in-out;
  height: 0;
  overflow: hidden;
  background-color: white;
}

#mobileNav li {
  padding-bottom: 1rem;
}

.menu-open {
  height: auto;
  width: initial;
  pointer-events: initial;
}

@media screen and (max-width: 1024px) {
  .logo {
    max-width: 250px;
  }

  /* Remove me post fair */
  nav a,
  nav a.main-font {
    padding: 1rem;
    font-size: 1rem;
  }

  ul {
    font-size: 0.9rem;
    padding-inline-start: 0px;
  }
  .wrapper {
    max-width: 90%;
  }
}

@media screen and (max-width: 768px) {
  .logo {
    max-width: 200px;
    /* max-width: 235px; */
  }
  /* change post fair */
  nav a,
  nav a.main-font {
    padding: 0.7rem;
    font-size: 0.8rem;
  }
  .header-main a {
    font-size: 1rem;
  }
  nav a {
    padding: 1rem;
  }
  footer {
    justify-content: space-between;
    padding: 1rem 0.8rem;
  }
  ul {
    font-size: 0.7rem;
  }
  i {
    padding: 0 0 0 0.6rem;
  }
}

@media screen and (max-width: 500px) {
  h1 {
    font-size: 1.5em;
  }

  .logo {
    width: 50%;
  }

  /* change post fair */
  nav a,
  nav a.main-font {
    padding: 2rem 1rem;
    font-size: 1.3rem;
  }

  .burger.fas {
    display: block;
    color: var(--brand-green);
    font-size: 1.3rem;
    padding: 0 1.3rem;
    cursor: pointer;
  }

  nav {
    display: none;
  }

  ul {
    flex-direction: column;
    padding: 0 1rem;
    width: 50%;
  }

  i {
    padding-left: 0;
    padding-right: 0.1rem;
  }

  footer {
    flex-direction: column;
    padding: 1rem 0;
  }

  footer ul {
    flex-direction: row;
    width: initial;
  }
}

@media screen and (max-width: 320px) {
  h1 {
    font-size: 1.3em;
  }
  footer ul {
    flex-direction: column;
  }

  ul {
    font-size: 0.8rem;
    margin: 0;
  }
  li {
    padding: 0.5rem 0;
  }
}
